<div id="content">
  <h2>ABOUT</h2>
  <div class="article">
  <img class="photo" src="images/bird.jpg" />
  <p>
  I graduated with my degree in Computer Science, and moved to San Francisco to live an inspired life through technology. You'll find me spending most of my days leaching off cafe wifi, and bringing one of my many ideas to life. 
</p>
  <p>Aside from learning, I love teaching and helping others. Part of my time is spent with the Women Who Code's Rails meetup group, where I help guide people who are new to Rails, and get to surround myself with others who are eager to learn.
  </p>
  <p>
My current goals include becoming a developer at a startup with an exciting and useful product, and becoming the top female climber in San Francisco. I have big dreams, so welcome to just my beginning!
  </p><br />
  <p>Connect with me.</p>
  <div id="icons">
    <a href="https://twitter.com/#!/jouhanallende"><img src="images/bw_tw_icon.png" onmouseover="this.src='images/color_tw_icon.png'" onmouseout="this.src='images/bw_tw_icon.png'"alt="twitter" /></a>
    <a href="https://github.com/jouhan"><img src="images/bw_gh_icon.png" onmouseover="this.src='images/color_gh_icon.png'" onmouseout="this.src='images/bw_gh_icon.png'" alt="github" /></a>
    <a href="http://www.linkedin.com/in/jouhanallende"><img  src="images/bw_li_icon.png" onmouseover="this.src='images/color_li_icon.png'" onmouseout="this.src='images/bw_li_icon.png'" alt="linkedin" /></a>
  </div></div>
</div>