<div id="content">
  <div id="project_container">
    <h2>PROJECTS</h2>
    <div class="article">
      <img class="photo" src="images/conflux.jpg" />
      <p id="title">Conflux: A Collaborative To Do Application for Event-Planning.</p>
      <p>Conflux is an easy way for friends to coordinate party needs. Whether it's that extra 6-pack or a ride from the train station, users can post and claim what they need for that smooth and successful event. Users can also be sent a last-minute cry for help via text message.
      </p>
      <p>This project took 2nd place at the AppDev Hackathon in two categories. (Woo!) I wrote the backend functionality using Ruby on Rails, and Mike Lewis handled the front-end, Facebook, and Tropo integration.
      </p>
      <p>Technologies used: Ruby, Rails, Tropo API, Facebook API, JQuery Mobile.
      </p>
    </div>
    <hr />
    <div class="article">
      <img class="photo" src="images/sleepystranger.jpg" />
      <p id="title">Sleepy Stranger: A web application for categorizing sleepy people.</p>
      <p>Users can upload photos of people sleeping, and vote on submissions. This was my first web application taken from idea to deployment.
      </p>
      <p>This project is a simple Rails application created to expand my knowledge through every part of the stack -- frontend to backend, from prototype to deployment.
      </p>
      <p>Technologies used: Ruby, Rails, MySQL, JQuery, HTML/CSS3, Capistrano, Apache, EC2.
      </p>
    </div>
    <hr />
    <div class="article">
      <img class="photo" src="images/fwp.jpg" />
      <p id="title">First World Problems: A rating system for Twitter hashtags.</p>
      <p>First World Problems is a way for users to view and rank tweets based on their hashtags. Ranking is calculated through a number of factors, including votes, retweets, and time.
      </p>
      <p>This project was my way of getting my feet wet with web development and NoSQL. Credit to Mike Lewis for getting the environment set up. This allowed me to focus on learning Ruby, Redis, and using web APIs.
      </p>
      <p>Technologies used: Ruby, Sinatra, Redis, Twitter API, Unicorn, Resque, Nginx.
      </p>
    </div>
  </div>
</div>