*{
  margin:0;
  padding:0;
}

body, html {
  color:#444444;
  background:#EEEDDD;
  font-family: 'Terminal Dosis', sans-serif;
  font-size:1em;
  margin-top:20px;
}

a {
  color:#444444;
  text-decoration:none;
}

a:hover {
  color: #D5CD5B;
}

container {
  width:700px;
}

header {
  padding-left:40px;
}

h1 {
  font-size:2.7em;
  font-weight:lighter;
  letter-spacing:0.1em;
  text-align:left;
  float:left;
  padding-right:6px;
}

nav {
  padding-top:28px;
}

nav li {
  padding-left:20px;
  display:inline;
}

nav li img {
  padding-right:5px;
}

nav li a {
  text-decoration:none;
  color:#444444;
}

nav li a:hover {
  color: #D5CD5B;
}

#icons {
  display:inline;
}

#icons img {
  padding-right:6px;
}
#content {
  margin:40px;
  max-width:800px;
}

#content #title {
  letter-spacing: 0.07em;
  text-transform:uppercase;
}

#content h2 {
  font-weight:lighter;
  padding-bottom:20px;
}

#content .article {
  min-height:200px;
}

#content .photo {
  margin:0;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  -moz-box-shadow:    1px 1px 2px 0 #222222;
  -webkit-box-shadow: 1px 1px 2px 0 #222222;
  box-shadow:         1px 1px 2px 0 #222222;
  float:left;
  margin-right:20px;  
}

#content p {
  padding-bottom:8px;
  letter-spacing:0.02em;
  line-height:130%;
}

hr {
  color: #D5CD5B;
  background-color: #D5CD5B;
  border: none;
  height: 1px;
  margin: 37px;
}

footer {
  font-size:0.7em;
  color:#999999;
  margin-left:40px;
}